.past-event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pastevents-container {
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}